{%import "bootstrap/wtf.html" as wtf %}
{%extends "root/layout.html"%}
{%block agentpage%}
<head>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='layout.css') }}">
        <script
          src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCGbWx7L3jcHLNnEMjZOwaPscWcokXqVBA"></script>
        <script defer src="/static/js/foodDrive.js"></script>
</head>
<form class="form-signin" , id="form" method = "POST" action ="/agentpage/{{email}}">
  <br>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}

  <h3>Edit Form</h3>
  <br>
  {{ form.csrf_token }}
  {{ form.hidden_tag() }}
  {{wtf.form_field(form.marketcenter, value = marketcenter, id="marketcenter")}}
  {{wtf.form_field(form.email, value=email, onkeyup = "this.value= this.value.toLowerCase();" )}}
  {{wtf.form_field(form.firstname, value = firstname)}}
  {{wtf.form_field(form.lastname, value = lastname)}}
  {{wtf.form_field(form.bagnumber, id = "bags", value=bags)}}
  {{wtf.form_field(form.streetspicker, id="findStreet")}}
  <p><em>Please type <u>Only the Street Name</u> (No house numbers) and only select from <u>Google Autocomplete.</u></em></p>
  <button type="button"class="btn btn-sml btn-secondary btn-block"onclick="addStreet()">Add Street</button>
  <br>
  {{form.streets(id="streets", value="")}}
  <br>
  <table class="table" id ="streettable">
  <thead>
    <tr>
      <th>Streets</th>
      <th>Remove</th>
    </tr>
  </thead>
    <tbody id ="streetrows">
        {%for street in streets%} 
        <tr><td>{{street}}</td>
        <td><input type="button" value="Delete"/></td>
        </tr>
        {%endfor%}
    </tbody>
  </table>
  <br>
  <button type="button"class="btn btn-lg btn-primary btn-block"onclick="submitForm()">Update!</button>
  <br>
  {{message}}
</form>
</div>
{%endblock agentpage%}

